.deps/
.dirstamp
*.o
*.swp
*.db
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
config.status.lineno
configure
configure.lineno
depcomp
hello
install-sh
missing
stamp-h?
gnomato
gnomato.desktop
*.in
po/stamp-it
mkinstalldirs
*.gmo
po/POTFILES
